<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-2">
      <button class="btn btn-success float-end" routerLink="/">Cerrar Sesión</button>
    </div>
  </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Diamante</span>           
                    <button class="btn btn-success float-end" routerLink="/crear-producto">Nuevo</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-5">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let producto of listProductos'>
                            <th>{{producto.nombre}}</th>
                            <td>{{producto.categoria}}</td>
                            <td>{{producto.ubicacion}}</td>
                            <td>{{producto.precio | currency: ' $ '}}</td>
                            <td>
                                <i [routerLink]="['/editar-producto/',producto._id]" class="fa-solid fa-pen-to-square text-primary "></i>
                                <i (click)="eliminarProducto(producto._id)" class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <br>
                          <button class="btn btn-success " routerLink="/ver-empleado">ver empleados</button>        
                        </tbody>

                        <h5 style="text-align: start;margin-top: 10px;" *ngIf="listProductos.length == 0"> No hay productos para mostrar</h5>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
