<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">
                      {{titulo | uppercase}}
                    </span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="esEditar()">
            
                        <ngx-extended-pdf-viewer
                        *ngIf=" (productoForm && productoForm.get('archivoPDF') && productoForm.get('archivoPDF')?.value)"
                        [src]="productoForm.get('archivoPDF')?.value"
                        [height]="'700px'"
                      ></ngx-extended-pdf-viewer>
                      
                     <!---<ngx-extended-pdf-viewer
                      [src]="archivoPDF"
                      [height]="'600px'"
                    ></ngx-extended-pdf-viewer>--> 
  

                        <div class="mb-3">
                            <button routerLink="/producto" class="btn btn-secondary btn-lg float-start">Volver</button>
                           </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>