body {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000000;
    margin: 0; /* Establece el margen izquierdo en 0 para quitar el espacio en blanco */
}

.titulo {
    font-size: 1.8rem;
    font-family: 'Titillium Web', sans-serif;
}

html, body {
    height: 60%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #000000;
}
