
  
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-2">
        <!-- Aquí colocas tu componente app-sidebar -->
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-10">
        <br>
        <div class="col-lg-10 offset-lg-2">
            <button class="btn btn-success float-end" routerLink="/">Cerrar Sesión</button>
          </div>
          <br><br>
        <div class="col-lg-10 ">
         <h2>Bienvenido a INCOR! </h2>
         <p>Proceso de incorporación Naval Colombiana</p>
        </div>
      </div>
    </div>
  </div>
  